#slider-106 .wd-slide {
	min-height: 500px;
}

@media (max-width: 1024px) {
	#slider-106 .wd-slide {
		min-height: 340px;
	}
}

@media (max-width: 767px) {
	#slider-106 .wd-slide {
		min-height: 450px;
	}
}
